body {
    /* height: 900vh; */
    margin:0;
    padding:0;
    font-family: sans-serif;
}
a, a:hover, a:visited {
    color: #0071bc;
}
#map {
    top:0;
    height: 100vh;
    width:100vw;
    /* position: fixed; */
    opacity:0;
}
#largemap_0{
    height:100vh;
    width:100vw;
}

#largemap_1{
    height: 100vh;
    width:100vw;
}

#largemap_2{
    height: 100vh;
    width:100vw;
}
.temphover{
    opacity:0.8;
    z-index: 9999;
    transition: opacity 0.4s ease-in-out;
    background-color: #fff;
    border-radius: 1em;
    top: 20em;

    bottom: 500px;
    right: 80em;
    width: 500px;


    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    font: .8em/.9em 'Open Sans', sans-serif;
    line-height: 2.5em;
    padding: 1em 2em 0em;
    position: absolute;
    max-width: 25%;
    margin: 0em 5em;

}
.temphover:hover{
    opacity:0.0;
    z-index: 0;

}
#header {
    margin: auto;
    width: 100%;
    position: relative;
    z-index: 5;
}
#header h1, #header h2, #header p {
    margin: 0;
    padding: 2vh 2vw;
    text-align: center;
}
#features {
    padding-top: 10vh;
    padding-bottom: 10vh;
}
.step {
    padding-bottom: 5vh;
    margin-bottom: 80vh;
    opacity: 0.01;
    transition: opacity 0.4s ease-in-out;
}
.step.active {
    opacity: 0.99;
}

.step div {
    padding:  15px 20px;
    line-height: 25px;
    font-size: 13px;
}

.step img {
    width: 100%;
}

@media (max-width: 750px) {
    .centered, .lefty, .righty, .fully {
        width: 90vw;
        margin: 0 auto;
    }
}
.slide {
    background-color: black;
    border: 1px white solid;
    height: 100vh;
    width: 100vw;
    z-index: 999;
    position: relative;
}
iframe{
    width:100%;
    height:100%;
}

#slide3>img{
    height:100%;
    width:100%;
    object-fit: cover;
}
#text_on_img{
    position:absolute;
    top: 5%;
    left:5%;
}

/* Fix issue on mobile browser where scroll breaks  */
.mapboxgl-canvas-container.mapboxgl-touch-zoom-rotate.mapboxgl-touch-drag-pan, 
.mapboxgl-canvas-container.mapboxgl-touch-zoom-rotate.mapboxgl-touch-drag-pan .mapboxgl-canvas {
    touch-action: unset;
}
#tile_frame_frame{
    height:300vh;
    /* background-color: red; */
}
#tile_frame{
    position:relative;
    top:0;
    left:0;
    background-color:#fafafa;
    /* transition: all 0.5s ease-in-out; */
    line-height: 0;
}
#tile_frame.scroll_locked{
    position:fixed;
}
#tile_frame.fade_out{
    opacity:0;
}

#tile_frame>.tile{
    display: inline-block;
    position: relative;
    padding: 0px;
    margin: 0.1vw;

    width: 8.13vw;
    height: 8.13vw;
    line-height: 5px;
    /* background: #aaa; */

    overflow : hidden;
    transition-duration: 500ms;
    transition-property: border-radius, top, left, height, width, opacity;
}

.tile>img.center-cropped{
    top:0;
    left:0;
    z-index:1;


    position:relative;
    /* transition: opacity 0.5s ease-in-out; */

    object-fit:none;
    object-position:center;
    width:100%;
    height:auto;
}
.tile>img.center-cropped:hover{
    opacity:0;
}
.tile.open{
    opacity:0.3;
}
.tile>.tile_hover_text{
    width: 8.13vw;
    height: 8.13vw;
    padding: 0px;
    margin: 0px;

    background-color: white;
    position: absolute;
    display: inline-block;
    transform: translate(-100%);

    overflow: hidden;
}
.tile_hover_text p{
    font-size:13px;
    margin:0;
    line-height: 14px;

}




